@import "tailwindcss";
html,
body {
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 5s ease-in-out infinite;
}

.float-delay {
  animation: float 5s ease-in-out infinite;
  animation-delay: .8s;
}

.float-delay2 {
  animation: float 5s ease-in-out infinite;
  animation-delay: 1.6s;
}

.float-delay3 {
  animation: float 5s ease-in-out infinite;
  animation-delay: 2.4s;
}

@keyframes pulseRing {

  0%{
    transform:scale(1);
    opacity:.5;
  }

  100%{
    transform:scale(1.45);
    opacity:0;
  }

}

.pulse-ring{

  animation:pulseRing 2.5s infinite;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}